:root {
  --darkest: #222228;
  --dark: #2A2B33;
  --grey: #5D5D5D;
  --blue: #2F66DA;

  --main-txt-color: #fff;
  --sub-txt-color: #888990;

  --txt-xl: 16px;
  --txt-l: 14px;
  --txt-m: 12px;
  --txt-s: 10px;

  --radius-xl: 10px;
  --radius-l: 8px;
  --radius-xs: 1px;
}

* {
  box-sizing: border-box;
}

body  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: darkgrey;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.p-t-4 {
  padding-top: 4px;
}

.p-l-4 {
  padding-left: 4px;
}

.p-l-r-16-20 {
  padding-left: 16px;
  padding-right: 20px;
}

.p-l-r-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.shadow {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

h2 {
  color: var(--blue);
  text-transform: uppercase;
  font-size: var(--txt-m);
  margin: 10px 0 10px 0;
}

.app-ctn {
  height: 640px;
  width: 360px;
  margin: 0 auto;
  background: var(--darkest);
}

.info {
  height: 60px;
  width: 100%;
  background: #5D5D5D;
}

.days {
  height: 80px;
  width: 100%;
  padding-top: 12px;
}

.days-ctn {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-color: var(--darkest) var(--grey);
  scrollbar-width: none;
}

.calendar-btn {
  height: 60px;
  min-width: 50px;
  margin-right: 10px;
  border: none;
  border-radius: var(--radius-xl);
  background: var(--dark) url("../img/calendar.svg") no-repeat center;
  background-size: 40%;
}

.day-btn {
  position: relative;
  height: 60px;
  min-width: 50px;
  margin-right: 10px;
  border: none;
  border-radius: var(--radius-xl);
  background: var(--dark);
}

.current-day {
  background: var(--blue);
}

.btn-date {
  color: var(--main-txt-color);
  font-size: var(--txt-xl);
  font-weight: 500;
  line-height: 26px;
}

.btn-weekday {
  color: var(--sub-txt-color);
}

.current-day .btn-weekday {
  color: var(--main-txt-color);
}

.day-btn .day-has-tasks {
  position: absolute;
  top: 0;
  left: 36px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--main-txt-color);
  font-size: var(--txt-m);
  background: var(--blue);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.day-btn .day-has-tasks:empty {
  display: none;
}

.categories {
  height: 100px;
  width: 100%;
}

.category-ctn {
  height: 60px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-color: var(--darkest) var(--grey);
  scrollbar-width: none;
}

.category {
  position: relative;
  padding: 5px 0 0 10px;
  height: 50px;
  min-width: 110px;
  margin-right: 20px;
  border-radius: var(--radius-xl);
  background-color: var(--dark);
}

.category-active {
  outline: 1px solid var(--grey);
}

.category-tasks,
.category-name {
  margin: 0;
}

.category-tasks {
  font-size: var(--txt-m);
  color: var(--grey);
}

.category-name {
  font-size: var(--txt-l);
  font-weight: 600;
  color: var(--main-txt-color);
}

.mini-btn-category {
  position: absolute;
  top: 14px;
  right: 5px;
  height: 20px;
  width: 16px;
  padding: 0;
  border: none;
  background: url("../img/menu-dots-vertical.svg") no-repeat;
  background-size: cover;
}

.tasks {
  height: 350px;
  width: 100%;
  background: #1b1a1a;
}

.mini-btn-add {
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 12px 0 10px 10px;
  border: none;
  border-radius: 50%;
  background: url("../img/add.svg") no-repeat;
  background-size: cover;

}

